body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.top-bar {
    background-color: #3900ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px; /* Nueva línea para agregar altura */
}

.logo, .search, .user-info {
    flex: 1;
}

.logo, .user-info {
    color: white;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center; /* Nueva línea para centrar verticalmente */
}

.buscar {
    width: 80%;
    height: 30px; /* Nueva línea para agregar altura */
    border-radius: 8px; /* Nueva línea para bordes redondeados */
}

.user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.center {
    text-align: center;
    padding: 20px;
}

.titulo {
    color: black; /* Cambiado a negro */
}

.upload-form {
    max-width: 400px;
    margin: 0 auto;
}

.input-container {
    margin-bottom: 15px;
}

.button-container {
    text-align: center;
}

.boton1 {
    background-color: #3900ad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-btn {
    background-color: #3900ad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
