
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.top-bar {
    background-color: #3900ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
}

.merakt {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.logo {
    margin-left: 20px;
}

.logo, .search, .user-info {
    flex: 1;
}

.logo, .user-info {
    color: white;
}

.sesion {
    display: inline-flex;
    color: white;
    margin-left: 200px;  
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscar {
    width: 80%;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}

.user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.center {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 180px); /* Resta la altura de top-bar */
}

.titulo {
    color: rgb(27, 27, 27);
    font-style: normal;
    font-size: 60px;
}

.upload-form {
    max-width: 400px;
    margin: 0 auto;
}


.upload-btn:hover {
    background-color: #6a6a6a;
  }
  
.input-container {
    margin-bottom: 15px;
}

.button-container {
    text-align: center;
}

.file-name {
    margin-bottom: 20px;
}

.boton1 {
    background-color: #3900ad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;   
    font-weight: bold;
}

.upload-btn {
    background-color: #3d3d3d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}


.archivo-input {
    display: none;
}

.input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

