body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  margin-top: 300px; 

}

.container {
  text-align: center;
  width: 80%;
}

.buscador {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 30px;
}

.buscador input {
width: 600px; /* Aumentado el ancho del campo de búsqueda */
padding: 15px;
background-color: #F2F2F2 ;
border: 1px solid #ced4da;
border-radius: 8px;
}

.buscador button {
background-color: transparent; /* Quitado el fondo */
border: none;
color: #000000;
margin-left: 10px;
cursor: pointer;
}

.rectangulo {
width: 0 auto;
height: 50px;
background-color: #F2F2F2;
border-radius: 10px;
padding: 10px 30px;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 15px;
transition: background-color 0.3s;
}

.rectangulo:hover {
  background-color: #e2e2e2; /* Cambia el color a tu preferencia */
}

.botones button:hover {
  filter: brightness(50%); /* Cambia el porcentaje según tus preferencias */
}

.nombre {
font-weight: bold;
}

.peso {
font-style: italic;
}

.botones {
display: flex;
}

i {
font-size: 25px;
}

button {
background-color: transparent;
border: none;
cursor: pointer;
padding: 0 8px;
}

.container {
  text-align: center;
  width: 80%;
}

.buscador {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.buscador input {
  width: 600px; /* Aumentado el ancho del campo de búsqueda */
  padding: 15px;
  background-color: #F2F2F2 ;
  border: 1px solid #ced4da;
  border-radius: 8px;
}

.buscador button {
  background-color: transparent; /* Quitado el fondo */
  border: none;
  color: #000000;
  margin-left: 10px;
  cursor: pointer;
}

.rectangulo {
  width: 0 auto;
  height: 50px;
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.nombre {
  font-weight: bold;
}

.peso {
  font-style: italic;
}

.botones {
  display: flex;
}

i {
  font-size: 25px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 8px;
}
  

.container {
  text-align: center;
  width: 80%;
}

.buscador {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.buscador input {
  width: 600px; /* Aumentado el ancho del campo de búsqueda */
  padding: 15px;
  background-color: #F2F2F2 ;
  border: 1px solid #ced4da;
  border-radius: 8px;
}

.buscador button {
  background-color: transparent; /* Quitado el fondo */
  border: none;
  color: #000000;
  margin-left: 10px;
  cursor: pointer;
}

.rectangulo {
  width: 0 auto;
  height: 50px;
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.nombre {
  font-weight: bold;
}

.peso {
  font-style: italic;
}

.botones {
  display: flex;
}

i {
  font-size: 25px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 8px;
}
  